body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu {
  width: 200px;
  border: 1px #666 solid;
  border-radius: 20px;
  overflow: hidden;
}
.menu ul {
  margin: 20px;
  color: red;
}
.menu ul li {
  border-bottom: 1px #666 solid;
  text-decoration: none;
}
.col-xs {
  width: 20%;
}
.col-df {
  width: 30%;
}
.col-ms {
  width: 50%;
}
.col-lg {
  width: 100%;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
